<!DOCTYPE html>
<html>
<head>
<title>Quiz</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>

<div class="box">

<h3>📄 {{ question.question }}</h3>

<form method="post">

<label><input type="radio" name="answer" value="{{ question.option1 }}" required> {{ question.option1 }}</label><br>
<label><input type="radio" name="answer" value="{{ question.option2 }}"> {{ question.option2 }}</label><br>
<label><input type="radio" name="answer" value="{{ question.option3 }}"> {{ question.option3 }}</label><br>
<label><input type="radio" name="answer" value="{{ question.option4 }}"> {{ question.option4 }}</label><br>

<button type="submit">➡ Next</button>

</form>

</div>

</body>
</html>
